<div class="nav-container">
  <nav class="main">
    <div class="container">
      <div class="row">
        <div class="col-12">    
          <a href="/"><img src="/assets/img/logo-white.svg"></a>
        
          <ul class="d-none d-md-block">
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/contact" class="btn">contact</a></li>
          </ul>

          <div class="d-md-none" data-mobile-button>
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="mobile-nav-container">
  <div class="container">
    <i class="fas fa-times" data-close-mobile="true"></i>
    <nav class="mobile">
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blog">blog</a></li>
        <li><a href="/contact">contact</a></li>
        <li><i class="fas fa-times" data-close-mobile="true"></i></li>
      </ul>
    </nav>
  </div>
</div>