<meta prefix="og: http://ogp.me/ns#" property="og:url"                content="{{ site.url }}{{ page.url }}" />
<meta prefix="og: http://ogp.me/ns#" property="og:type"               content="article" />
<meta prefix="og: http://ogp.me/ns#" property="og:title"              content="{{ page.title }}" />
<meta prefix="og: http://ogp.me/ns#" property="og:description"        content="{{ page.description | default: site.description }}" />
<meta prefix="og: http://ogp.me/ns#" property="og:image"            content="{{ page.image | default: site.image}}" />