<div class="blog-preview">
  <div class="container">
    <div class="row">
      <a href="/" class="col-md-6 blog-img" style="background-image: url(/assets/img/blog-placeholder.jpg);"></a>
      <div class="col-md-6 body">
        <h2>blog title</h2>
        <date>december 24, 2020</date>
        <p class="margin-top-400">
          Here is a paragraph. Inserting some nonsense. Lets talk about this extractionnnn!
        </p>
        <a href="/" class="btn margin-top-400">read more</a>
      </div>
    </div>
  </div>
</div>