body.contact {
  background: url('/assets/img/backgrounds/background-10.jpg') no-repeat center center; 
  background-size: cover;

  &:before {
    position: fixed;
    content: "";
    height: 100%;
    width: 100%;
    background: url('/assets/img/backgrounds/background-10.jpg') no-repeat center center;
    background-size: cover; 
  }

  @media screen and (min-width: $screen-sm) {
    background-attachment: fixed;
  }

  .text-shadow {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  right: 0;
  top: 0;

  @media screen and (min-width: $screen-sm) {
    width: 60%;
  }
}
}