body.home {
  width: 100%;
  overflow-x: hidden;

  @import 'home/hero';

  .summary {
    margin-top: -50px;
    padding: 100px 0 50px;
    background: url('/assets/img/backgrounds/background-1.jpg') no-repeat center center fixed;

    @media screen and (min-width: $screen-sm) {
      padding: 150px 0 100px;
    }

    @media screen and (min-width: $screen-md) {
      padding: 200px 0 150px;
    }
    .black-panel {
      padding: $spacing-1000 $spacing-600;
      background: rgba(0, 0, 0, .5);
    }
  }
}