body.home {
  width: 100%;
  overflow-x: hidden;

  @import 'home/hero';

  .slope {
    position: absolute;
    bottom: -1px;
    width: calc(100% + 6px);
    left: -3px;
  }

  .bg-white {
    box-shadow: $box-shadow-basic;
  }

  .section-title {
    text-align: center;

    h3 {
      border-bottom: 2px dashed $black-100;
      padding-bottom: $spacing-base;
      display: inline-block;

      @media screen and (min-width: $screen-sm) {
        display: block;
      }
    }
  }

  .section-anchor {
    margin-top: -150px;
    position: absolute;
  }

  .summary {
    position: relative;
    margin-top: -50px;
    padding: 100px 0 140px;
    background: url('/assets/img/backgrounds/background-1.jpg') no-repeat center center fixed;

    @media screen and (min-width: $screen-sm) {
      padding: 150px 0 190px;
    }

    @media screen and (min-width: $screen-md) {
      padding: 200px 0 240px;
    }
    
    .black-panel {
      padding: $spacing-1000 $spacing-600;
      background: rgba(0, 0, 0, .5);
    }
  }

  .creating-value {
    position: relative;
    padding: 0 0 150px 0;
    background: url('/assets/img/backgrounds/background-3.jpg') no-repeat center center fixed;
    background-size: cover;

    @media screen and (min-width: $screen-sm) {
      padding: 0 0 240px 0;
    }

    @media screen and (min-width: $screen-lg) {
      padding: 0 0 320px 0;
    }

    .section-title {
      h3 {
        margin-bottom: $spacing-600;

        @media screen and (min-width: $screen-sm) {
          margin-bottom: $spacing-1000;
        }
      }

      @media screen and (min-width: $screen-sm) {
        text-align: right;
      }
    }
  }

  .our-method {
    position: relative;
    padding: 0 0 100px 0;
    background: url('/assets/img/backgrounds/background-4.jpg') no-repeat center center fixed;
    background-size: cover;

    .bg-white {
      position: absolute;
      right: 0;
      top: $spacing-300;
      height: 100%;
      width: 100%;
      z-index: 0;

      @media screen and (min-width: $screen-sm) {
        width: 62%;
      }
    }

    .section-title {
      h3 {
        margin-bottom: $spacing-600;

        @media screen and (min-width: $screen-sm) {
          margin-bottom: $spacing-1000;
        }
      }

      @media screen and (min-width: $screen-sm) {
        text-align: left;
      }
    }

    .btn-wrapper {
      text-align: center;

      @media screen and (min-width: $screen-sm) {
        text-align: left;
      }
    }
  }
}