.component.bio-box {
  padding: 0 $spacing-400;

  @media screen and (min-width: $screen-sm) {
    padding: initial;
  }

  .img-container {
    width: 100%;
    height: 250px;
  }

  .row {
    position: relative;
  }

  .content {
    min-height: 470px;
  }

  [data-stretch] {
    position: absolute;
    height: inherit;
    width: 100%;
    height: 100%;
    box-shadow: $box-shadow-diffuse;
  }
}