footer {
  background: $green-100;
  bottom: 0;
  padding: $spacing-base;
  z-index: 3;
  position: relative;
  border-top: 4px solid $orange-100;
  border-bottom: 4px solid $orange-100;
  text-align: center;

  span {
    color: white;
    font-weight: 100;
    font-size: $font-size-small;
    display: block;
    margin-top: $spacing-base;

    @media screen and (min-width: $screen-sm) {
      position: absolute;
      right: 0;
      margin-top: 0;
      top: $spacing-base;
    }
  }

  img {
    max-width: 150px;
  }

  @media screen and (min-width: $screen-sm) {
    text-align: initial;
  }
}