---
---
@import "variables";
@import "fonts";
@import "type";
@import "spacing";
@import "button";
@import "nav";
@import "form";
@import "footer";

// PAGES
@import "pages/contact";
@import "pages/about";
@import "pages/home";

// TEMPLATES
@import "layouts/details";

// COMPONENTS
@import "components/bio-box";
@import "components/cta";

// MOLECULES
@import "components/molecules/circle-line";
@import "components/molecules/section-header";

body {
  color: $black-100;
  width: 100%;
  overflow-x: hidden;
}

:root {
  scroll-behavior: smooth;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.content-wrapper {
  min-height: calc(100vh - 53px);
}

.social-icon {
  font-size: $font-size-200;
  margin-right: $spacing-200;
  background: $gray-100;
  color: $white-100;
  padding: 2px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  width: $spacing-600;
  height: $spacing-600;

  i {
    display: inline-block;
    width: 100%;
  }
}

.link {
  text-decoration: underline;
}

.screen-white {
  width: 100%;
  height: 100%;
  background: white;
  opacity: .4;
  position: absolute;
  z-index: 0;
}

.slope {
  width: calc(106% + 6px);
  left: -3px;
}

.slope.inverted {
  transform: scaleX(-1);
}