.creating-value {
  padding: 0 0 175px 0;
  background: url('/assets/img/backgrounds/background-11.jpg') no-repeat center center;
  background-size: cover;

  @media screen and (min-width: $screen-sm) {
    background-attachment: fixed;
  }

  @media screen and (min-width: $screen-sm) {
    padding: 0 0 275px 0;
  }

  @media screen and (min-width: $screen-lg) {
    padding: 0 0 320px 0;
  }

  .section-title {
    h3 {
      margin-bottom: $spacing-600;

      @media screen and (min-width: $screen-sm) {
        margin-bottom: $spacing-1000;
      }
    }

    @media screen and (min-width: $screen-sm) {
      text-align: right;
    }
  }
}