.hero {
  position: relative;
  text-align: center;
  height: 350px;
  background: url('/assets/img/backgrounds/background-3.jpg') no-repeat;
  background-position: left 20%;

  @media screen and (min-width: $screen-sm) {
    background-attachment: fixed;
  }
  

  img {
    max-width: 300px;

    @media screen and (min-width: $screen-xs) {
      max-width: 350px;
    }
    @media screen and (min-width: $screen-lg) {
      max-width: 400px;
    }
  }

  .scroll-icon {
    font-size: $font-size-500;
    padding: 5px;
    margin-bottom: $spacing-300;
    color: black;
    opacity: .6;
  }

  @media screen and (min-width: $screen-xs) {
    height: calc(100vh - 136px);
    min-height: 450px;
  }

  .slope {
    &.large {
      display: none;
    }

    &.small {
      display: block;
    }

    @media screen and (min-height: 620px) {
      &.large {
        display: block;
      }

      &.small {
        display: none;
      }
    }
  }
}