.our-method {
  padding: 0 0 100px 0;
  background: url('/assets/img/backgrounds/background-2.jpg') no-repeat center center fixed;
  background-size: cover;

  @media screen and (min-width: $screen-md) {
    padding: 0 0 200px 0;
  }

  .bg-white {
    position: absolute;
    right: 0;
    top: $spacing-300;
    height: 100%;
    width: 100%;
    z-index: 0;

    @media screen and (min-width: $screen-sm) {
      width: 62%;
    }
  }

  .section-title {
    h3 {
      margin-bottom: $spacing-600;

      @media screen and (min-width: $screen-sm) {
        margin-bottom: $spacing-1000;
      }
    }

    @media screen and (min-width: $screen-sm) {
      text-align: left;
    }
  }

  .btn-wrapper {
    text-align: center;

    @media screen and (min-width: $screen-sm) {
      text-align: left;
    }
  }
}