.summary {
  margin-top: -50px;
  padding: 100px 0 140px;
  background: url('/assets/img/backgrounds/background-10.jpg') no-repeat center center fixed;
  background-size: cover;

  @media screen and (min-width: $screen-sm) {
    padding: 150px 0 150px;
  }

  @media screen and (min-width: $screen-md) {
    padding: 175px 0 175px;
  }
  
  .black-panel {
    padding: $spacing-1000 $spacing-600;
    background: rgba(0, 0, 0, .5);
  }
}