---
layout: default
title: Terraforma Blog
robots: noindex, nofollow
---

{% include nav.html %}

<section>
  <div class="blog-flexbox">
    <div class="left-pane">
      <div class="blog-hero-text">
        <h2>blog title</h2>
        <date class="margin-top-400 margin-bottom-600">December 24, 2020</date>
        <p class="large">
          This is a summary of a blog post. Click here to learn more about blog type stuff, and web design and development.
        </p>
        <a href="/" class="btn margin-top-400">read more</a>
      </div>
    </div>
    <div class="main-blog-image" style="background-image: url(/assets/img/blog-placeholder.jpg);">
    </div>
  </div>

  <object class="slope" type="image/svg+xml" data="/assets/img/slopes/slope-left-2.svg"></object>
  <object class="slope" type="image/svg+xml" data="/assets/img/slopes/slope-right-2.svg"></object>
</section>
{% include components/molecules/section-header.html classes="green orange" title="&nbsp;" %}

<section>
  {% include components/blog-preview.html %}
  {% include components/blog-preview.html %}
</section>