---
layout: default
title: Terraforma Blog
robots: noindex, nofollow
---

{% include nav.html %}

<section>
  <div class="blog-flexbox">
    {% for post in site.blog limit: 1 %}
      <div class="left-pane">
        <div class="blog-hero-text">
          {% assign display_date = post.date | date: "%B %d, %Y" %}
          <h2>{{ post.title }}</h2>
          <date class="margin-top-400 margin-bottom-600">{{ display_date }}</date>
          <p class="large">
            {{ post.summary }}
          </p>
          <a href="{{ post.url }}" class="btn margin-top-400">read more</a>
        </div>
      </div>
      <div class="main-blog-image" style="background-image: url({{ post.image }});"></div>
    {% endfor %}
  </div>

  <object class="slope" type="image/svg+xml" data="/assets/img/slopes/slope-left-2.svg"></object>
  <object class="slope" type="image/svg+xml" data="/assets/img/slopes/slope-right-2.svg"></object>
</section>
{% include components/molecules/section-header.html classes="green orange" title="&nbsp;" %}

<section>
  {% for post in site.blog offset: 1 %}
    {% assign display_date = post.date | date: "%B %d, %Y" %}
    {% include components/blog-preview.html title=post.title date=display_date link=post.url
      summary=post.summary image=post.image %}
  {% endfor %}
</section>