---
layout: default
title: home
---

<section class="hero">
  <div class="screen-white"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <img src="/assets/img/logo-original.svg" class="margin-top-800 margin-bottom-800">
        <div class="scroll-section d-none d-sm-block">
          <a href="#summary"><img class="scroll-icon" src="/assets/img/scroll-icon.png" title="scroll down for more"></a>
          {% include components/molecules/circle-line.html %}
        </div>
      </div>
      
      <object class="slope" type="image/svg+xml" data="/assets/img/slopes/slope-left-1.svg"></object>
      <object class="slope" type="image/svg+xml" data="/assets/img/slopes/slope-right-1.svg"></object>
    </div>
  </div>
</section>

<a id="summary"></a>
{% include nav.html %}

<section class="summary">
  <div class="mask"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="black-panel text-white margin-bottom-200">
          <h1 class="margin-bottom-600">accessing soil's potential</h1>
          <h3>increase yields through our customized biological programs</h3>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <a href="#creating-value" class="btn tab">creating value</a>
        <a href="#our-method" class="btn tab green">our method</a>
        <a href="#sustainability" class="btn tab blue">sustainability</a>
      </div>
      <div class="d-md-none d-lg-block col-lg-1">
        {% include components/molecules/circle-line.html classes="white" %}
      </div>
    </div>
  </div>

  <object class="slope" type="image/svg+xml" data="/assets/img/slopes/slope-right-2.svg"></object>
  <object class="slope" type="image/svg+xml" data="/assets/img/slopes/slope-left-2.svg"></object>
</section>

<a id="creating-value" class="section-anchor"></a>
<section class="creating-value">
  <div class="mask"></div>
  {% include components/molecules/section-header.html title="creating value" %}
  <div class="bg-white padding-bottom-400">
    <div class="container">
      <div class="row padding-top-1000">
        <div class="col-md-6 col-lg-5">
          <div class="section-title">
            <h3>optimize your profit</h3>
            <a href="/creating-value" class="btn small d-none d-md-inline-block">learn more</a>
          </div>
        </div>
        <div class="col-md-6 offset-lg-1">
          <ul class="checkmark">
            <li>by improving soil health, we reduce the use of costly inputs</li>
            <li>our enhanced nutrient pathways lead to increased yields</li>
          </ul>
          <div class="text-center">
            <a href="/creating-value" class="btn small d-md-none margin-bottom-600">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <object class="slope" type="image/svg+xml" data="/assets/img/slopes/slope-left-3.svg"></object>
  <object class="slope" type="image/svg+xml" data="/assets/img/slopes/slope-right-3.svg"></object>
</section>

<a id="our-method" class="section-anchor"></a>
<section class="our-method">
  <div class="mask"></div>
  {% include components/molecules/section-header.html title="our method" classes="text-right green" %}
  <div class="bg-white"></div>
  <div class="container">
    <div class="row padding-top-1000">
      <div class="col-md-7 offset-md-5">
        <div class="section-title">
          <h3>a tailored approach</h3>
        </div>
        <ul class="checkmark">
          <li>comprehensive sustainable management practices</li>
          <li>precision composting with TerraGrow</li>
          <li>custom microbial cultivation with TerraPod</li>
        </ul>
        <div class="btn-wrapper">
          <a href="/our-method" class="btn small margin-top-600">learn more</a>
        </div>
      </div>
    </div>
  </div>

  <object class="slope" type="image/svg+xml" data="/assets/img/slopes/slope-right-3.svg"></object>
  <object class="slope" type="image/svg+xml" data="/assets/img/slopes/slope-left-3.svg"></object>
</section>

<a id="sustainability" class="section-anchor"></a>
<section class="sustainability">
  <div class="mask"></div>
  {% include components/molecules/section-header.html title="sustainability" classes="blue" %}
  <div class="bg-white">
    <div class="container">
      <div class="row padding-top-1000">
        <div class="col-md-6 col-lg-5">
          <div class="section-title">
            <h3>sustainable growth</h3>
            <a href="/sustainability" class="btn small d-none d-md-inline-block">learn more</a>
          </div>
        </div>
        <div class="col-md-6 offset-lg-1">
          <ul class="checkmark">
            <li>sequester carbon</li>
            <li>reduce soil erosion</li>
            <li>minimize environmental impact</li>
          </ul>
          <div class="text-center">
            <a href="/sustainability" class="btn small d-md-none margin-bottom-600">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <object class="slope inverted" type="image/svg+xml" data="/assets/img/slopes/slope-right-2.svg"></object>
  <object class="slope inverted" type="image/svg+xml" data="/assets/img/slopes/slope-left-2.svg"></object>
</section>

{% include components/cta.html %}